.infoTreeCard {
    padding:5px !important;
    border-radius:8px !important;
    display:inline-block !important; 
    width: 100%;
}
.infoTreeList {
    width: 200px;
}

.infoTreeCardSubChildren {
    display: flex !important;
}
.infoTreeCardSubChildren__description {
    width: 200px;
}

.infoTree__schema-wrapper {
   height: 115vh;
}

h1 {
    text-align: center;  
}

.infoTree__schema-title {
    color: yellowgreen;
}

.infoTree__schema-content {
    margin: 0 auto;
    background-color: #fff;
}

/* .schema__element:hover {
    fill: yellowgreen;
}  */

.schema  {
    height: 100vh;
}


/*  */


.hover,.hover:hover * {
    fill: #ff9900;
  }


/* ant-design customize */

.ant-card-meta {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px;
}

.ant-card-body {
    padding: 5px !important;
}

/*  */
.css-1vs3jbz::before, .css-1vs3jbz::after {

}

.ant-card-meta-avatar {
    order: 2;
    padding-left: 16px
}


.ant-list-item-meta-content {
    text-align: left;
}
.ant-popover .ant-popover-placement-top {
    z-index: 2 !important;
}