.page__container {
    background-image: linear-gradient(to bottom, 
    #062c43, 
    #083550,
    #0b3e5c,
    #0e476a, 
    #115177, 
    #166186, 
    #1c7195, 
    #2481a3,
    #3b9bb4, 
    #57b6c2, 
    #77d0d0, 
    #9aeadd);
    width: 100%;
    height: 100vh;
}

.page__spacecraft-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.page__spacecraft-element {
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: wheat;
}

.spacecraft-image {
    max-width: 300px;
    width: 330px;
}

.spacecraft-popover {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.align-picture {
    margin: 44px;
}