.infoTreeCard {
    padding:5px !important;
    border-radius:8px !important;
    display:inline-block !important; 
    width: 100%;
}
.infoTreeList {
    width: 200px;
}

.infoTreeCardSubChildren {
    display: flex !important;
}
.infoTreeCardSubChildren__description {
    width: 200px;
}

.infoTree__schema-wrapper {
   height: 115vh;
}

h1 {
    text-align: center;  
}

.infoTree__schema-title {
    color: yellowgreen;
}

.infoTree__schema-content {
    margin: 0 auto;
    background-color: #fff;
}

.infoTree__schema-empty {
    text-align: center;
    display: flex;
    flex-direction: column;
}


.infoTree__schema-empty img{
  margin: auto;
}

.infoTree__schema-emptyPreview{
    padding: 5px;
    margin: auto;
}

.infoTree__schema-emptyPreviewContainer {
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 10%);
    font-size: 36px;
}

.infoTree__schema-empty span{
   font-size: 24px
  }
  

.schema  {
    height: 100vh;
}
.schema__card-description {
    display: flex;
    align-items: center;
    padding: 15px;
}

.schema__popover-element {
    margin-right: 10px;
}
.schema__card-icon {
    transform: scale(1.5);
    margin-left: 10px;
}

.schema__card-icon:hover {
    color: #b6b6b6f0;
    transform: scale(2);
}
  
.closeIcon {
    position: absolute;
    top: 8.5px;
    right: 10px;
}
