.infoTreeCard {
    padding:5px !important;
    border-radius:8px !important;
    display:inline-block !important; 
    width: 100%;
}
.infoTreeList {
    width: 200px;
}

.infoTreeCardSubChildren {
    display: flex !important;
}
.infoTreeCardSubChildren__description {
    width: 200px;
}

.infoTree__schema-wrapper {
   height: 115vh;
}

h1 {
    text-align: center;  
}

.infoTree__schema-title {
    color: yellowgreen;
}

.infoTree__schema-content {
    margin: 0 auto;
    background-color: #fff;
}

.infoTree__schema-empty {
    text-align: center;
    display: flex;
    flex-direction: column;
}


.infoTree__schema-empty img{
  margin: auto;
}

.infoTree__schema-empty span{
   font-size: 24px
  }
  

.schema  {
    height: 100vh;
}

  
